<?xml version="1.0"?>
<configuration>


  <configSections>
    <section name="CoreSlots" type="CCMS.CustomConfiguration,CCMS" />
    <!-- section name="ContentSlots" type="CCMS.CustomConfiguration,CCMS" />
    <section name="CustomSlots" type="CCMS.CustomConfiguration,CCMS" / -->

  </configSections>
  
    <system.web>
        <customErrors mode="Off"/>
        
        <!-- static mapping [simple] -->
        <urlMappings enabled="true">
          <add url="~/silas.aspx" mappedUrl="~/ccms.aspx?nodeid=25" />
          <add url="~/clare.aspx" mappedUrl="~/ccms.aspx?nodeid=24" />
          <add url="~/monuments.aspx" mappedUrl="~/ccms.aspx?nodeid=11" />
          <add url="~/gigs.aspx" mappedUrl="~/ccms.aspx?nodeid=4" />
          <add url="~/tech.aspx" mappedUrl="~/ccms.aspx?nodeid=12" />
          <add url="~/misc.aspx" mappedUrl="~/ccms.aspx?nodeid=21" />
        </urlMappings>
        
    </system.web>
    
  <CoreSlots>
    <add value="CCMS_TITLE" />
    <add value="CCMS_KEYWORDS" />
    <add value="CCMS_DESCRIPTION" />
    <add value="CCMS_AUTHOR" />
  </CoreSlots>
  
  <!-- ContentSlots>
    <add value="CCMS_CONTENT1" />
    <add value="CCMS_CONTENT2" />
    <add value="CCMS_CONTENT3" />
    <add value="CCMS_CONTENT4" />
    <add value="CCMS_CONTENT5" />
    <add value="CCMS_CONTENT6" />
  </ContentSlots -->  
   
	<appSettings>
    <add key="dbdriver" value="{SQL Server}"/>
		<add key="dbserver" value="ATLAS-SQL-07"/>
		<add key="dbname" value="thecovencouk_488009_db1"/>
		<add key="dbuser" value="uthecov_488009_1"/>
		<add key="dbpassword" value="Asteroth666"/>
    
		<!-- add key="dbdriver" value="{SQL Server}"/>
		<add key="dbserver" value="ASTEROTH\SQLEXPRESS"/>
		<add key="dbname" value="ccms"/>
		<add key="dbuser" value="ccms"/>
		<add key="dbpassword" value="ccms"/ -->

    <!-- template path -->
    <add key="TemplateBasePath" value="\\web-123win\winpackage21\thecoven.co.uk\www.thecoven.co.uk\web\content\ccms_asp\templates\" />
    <!-- add key="TemplateBasePath" value="C:\Dev\CCMS_ASP_DB\ROOT\ccms_asp\templates\" / -->

    <add key="DeploymentType" value="local" />

    <!-- logging (log4CCMS) -->
		<add key="logging" value="on"/>
		<add key="loglevel" value="trace"/>
		
		<!-- cache settings -->
		<add key="usecache" value="true"/>
		<add key="cachetimeout" value="10"/>	
	</appSettings>
  <startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
